
body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.auto-margins {
margin-top: auto;
margin-bottom: auto;
}

.joinBtn {
    border-width: 1px;
    border-color: black;
    outline: none;
    background-color: none;
}

.formField {
  margin-bottom: 20px;
}

.room-ParticipantList {
    position: absolute;
    left: 0px;
    overflow-y: scroll;
    width: 20%;
    height: 100%;
}

