
body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.auto-margins {
margin-top: auto;
margin-bottom: auto;
}

.joinBtn {
    border-width: 1px;
    border-color: black;
    outline: none;
    background-color: none;
}

.formField {
  margin-bottom: 20px;
}

.room-ParticipantList {
    overflow-y: scroll;
   /* position: absolute;
   // left: 0px;
  /*  width: 20%;
    height: 100%;
    /* resize: horizontal; */
}

.room-chatbox {
    display: inline-block;
    width: 35%;
    height: 40px;
    outline: none;
    border-width: 2px;
    border-color: black;
    position: fixed;
    bottom: 0; 
}

.room-messageList {
    display: block;
    height: 100%;
    width: 35%;
    border-width: 3px;
    border-color: black;
    position: fixed;
    bottom: 43px;
    margin-left: 5px;
    overflow-y: scroll;
    word-break: break-all;
    display: flex;
    flex-direction: column-reverse;
}