
body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.auto-margins {
margin-top: auto;
margin-bottom: auto;
}

.joinBtn {
    margin-left: 15px;
    border-width: 1px;
    border-color: black;
    outline: none;
    background-color: none;
}